{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Control{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div class="">
    <p>Syringe Tasks</p>
    <div class="grid grid-cols-2 border-solid border-2 border-red divide-x divide-solid">
      <div class="p-2">
        {% include 'components/task_form.html' %}
      </div>
      <div class="grid p-2 w-64 gap-y-2">
        <p class="font-bold">Past Configurations:</p>

        <select size="5" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 p-1 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
          <option value="">Metric</option>
          <option value="speed">Speed</option>
          <option value="concentration">Concentration</option>
        </select>

        <div class="grid grid-cols-3 gap-x-2">
          <button class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
            New
          </button>
          <button class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
            Load
          </button>
          <button class="shadow bg-blue-500 hover:bg-blue-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/html-duration-picker@latest/dist/html-duration-picker.min.js"></script>
{% endblock content %}