{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <p>
    Learn more about this project by visiting the <a href="{{ url_for('pages.about') }}">About page</a>.
  </p>
  <p>
    <a href="{{ url_for('pages.control') }}">Syringe Control</a>
  </p>
  <div class="chamber-select-and-video">
  <select Name="Select a chamber" Size="10">  
    <option value="1"> Chamber 1  </option>  
    <option value="2"> Chamber 2 </option>  
    <option value="3"> Chamber 3 </option>  
    <option value="4"> Chamber 4 </option> 
    <option value="5"> Chamber 5 </option>   
    <option value="6"> Chamber 6 </option>  
    <option value="7"> Chamber 7 </option>  
    <option value="8"> Chamber 8 </option>  
    <option value="9"> Chamber 9 </option>  
    <option value="10"> Chamber 10 </option>  
  </select>  
</div>
{% endblock content %}