<!DOCTYPE html>
<html lang="en">
<head>
  <title>Yeasy - {% block title %}{% endblock title %}</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .chamber-select-and-video {
     max-height: 1000px;
     overflow-y: auto;
     border: 1px solid gray;
     padding: 10px;
    }
    option{
     padding:10px;
    }
   </style>
</head>
<body class="m-4">
  <h1 class="text-3xl">Yeast Engagement and Alteration Software: Yeasy</h1>
<section>
  <header class="text-xl">
    {% block header %}{% endblock header %}
  </header>
  <main>
    {% block content %}<p>No messages.</p>{% endblock content %}
  <main>
</section>
</body>
</html>